:root {
  --orange-color: #fc842d;
  --gray-color: #9b9faa;
  --black-color: #212121;
  --white-color: #fff;
  --navy-blue: #264061;
  --font-size14: 14px;
  --font-size26: 26px;
  --font-size34: 34px;
  --font-weight400: 400;
  --font-weight700: 700;
}
