body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
button,
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
